.le__gamelist {

    position: relative;
    z-index: 5;
    background: linear-gradient(rgba(255, 255, 255, 0), transparent);


    .gamelist {
        margin: 0 auto;
        padding: 3.5rem 0 4rem 0;
        position: relative;
        z-index: 1;

        @include media_md {
            padding: 2rem 0;
        }

        .list {
            display: flex;
            flex-direction: column;
            width: min(85rem, 90%);
            margin: 0 auto;

            @include media_md {
                width: 100%;
            }

            h2 {
                font-size: 1.25rem;
                margin: 0;
                font-weight: 700;
                color: rgb(92, 92, 92);
            }

            &.featured {
                ul {
                    display: flex;
                    gap: 1.5rem;
                    width: 100%;
                    flex-wrap: wrap;

                    @include media_md {
                        padding: 0 1.5rem;
                        gap: 1rem;
                    }

                    li {
                        position: relative;
                        display: flex;
                        transition: .4s;
                        width: calc(25% - 1.13rem);

                        @include media_md {
                            width: calc(50% - 0.5rem);
                        }

                        @include media_m {
                            width: calc(100%);
                        }

                        a {
                            text-decoration: none;
                            display: flex;
                            width: 100%;

                            &:hover {
                                .thumb {
                                    transform: scale(1.025);

                                    video {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .info {
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            width: 100%;
                            padding: 1.5rem;
                            background-color: rgba(27, 27, 27, 0);

                            border-radius: 0 0 0.5rem 0.5rem;
                            z-index: 1;

                            @include media_md {
                                padding: 1rem;
                            }

                            .wrapper {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap: 1rem;

                                .app-icon {
                                    width: 3rem;
                                    height: 3rem;
                                    border-radius: 0.5rem;
                                    overflow: hidden;


                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .name {
                                    color: white;
                                    display: flex;

                                    flex-direction: column;
                                    gap: 0.425rem;

                                    p {
                                        margin: 0;
                                        font-size: 1.25rem;
                                        font-weight: 600;
                                    }
                                }
                            }

                            .type {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;

                                div {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;
                                    opacity: 0.5;

                                    img {
                                        width: 0.825rem;

                                        height: 0.825rem;
                                        object-fit: contain;
                                    }
                                }

                                span {
                                    padding: 0.15rem 0.525rem;
                                    font-size: 0.725rem;
                                    font-weight: 600;
                                    color: rgb(182, 182, 182);
                                    background-color: rgba(26, 26, 26, 0.8);
                                    border-radius: 10rem;
                                    border: 1px solid rgba(255, 255, 255, 0.132);
                                }
                            }
                        }

                        .thumb {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            aspect-ratio: 1;
                            overflow: hidden;
                            box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1);
                            border-radius: 0.5rem 0.5rem;
                            transition: .1s;

                            @include media_md {
                                aspect-ratio: 1;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                background: linear-gradient(-155deg, rgba(40, 40, 40, 0), transparent, rgb(32, 32, 32));
                                top: 0;
                                left: 0;
                                z-index: 1;
                                width: 100%;
                                height: 100%;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                background: linear-gradient(-155deg, rgba(40, 40, 40, 0), transparent, rgb(32, 32, 32));
                                top: 0;
                                left: 0;
                                z-index: 1;
                                width: 100%;
                                height: 100%;
                            }

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: .2s;
                            }

                            video {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                opacity: 0;
                                transition: .2s;
                            }
                        }


                    }
                }
            }
        }

        .heading {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin: 0 0 2rem 0;
            flex-wrap: wrap;
            gap: 1rem;

            h1 {
                margin: 0 0 0 0;
                font-size: 2rem;
                color: black;
                font-weight: 700;

                @include media_md {
                    padding: 0 1.5rem;
                    font-size: 1.75rem;
                }

            }

            .filters {
                display: flex;
                gap: 0.55rem;
                align-items: center;

                @include media_md {
                    overflow-x: auto;
                    overflow-y: hidden;
                    padding: 0 1.5rem;
                }

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }

                button {
                    border: none;
                    border-radius: 10rem;
                    background-color: rgba(0, 0, 0, 0);

                    border: 2px solid rgba(0, 0, 0, 0.2);
                    color: rgb(54, 54, 54);
                    font-weight: 700;
                    padding: 0 1rem;
                    font-size: 0.9rem;
                    height: 1.825rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    position: relative;
                    transition: .1s;

                    &:hover {
                        border-color: black;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: calc(100% + 0.2rem);
                        height: calc(100% + 0.2rem);
                        border: 2px solid rgb(94, 84, 53);
                        border-radius: 10rem;
                        opacity: 0;
                    }

                    &.active {
                        background-color: rgb(40, 40, 40);
                        color: white;
                   
                        font-weight: 600;
                    }

                    svg {
                        width: 1.2rem;
                        height: 1.2rem;

                        path {
                            fill: black;
                        }
                    }

                    img {

                        display: none;
                        width: 0.9rem;
                        filter: invert(100%);
                        height: 1rem;
                        opacity: 0.6;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}