.le__news {
    overflow: hidden;
    position: relative;

    display: none;
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        left: 0;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
        }
    }

    .news {
        width: min(85rem, 90%);
        margin: 0 auto;
        padding: 1rem 0 4rem 0;
        position: relative;
        z-index: 1;


        .list {
            .news-list {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;

                .news-item {
                    width: calc(33% - 0.75rem);
                    display: flex;

                    text-decoration: none;
                    overflow: hidden;
                    cursor: pointer;
                    border-radius: 0.5rem;
                    position: relative;
                    flex-direction: column;
                 
             
                    &:hover {
                        .thumb {
                            img {
                                transform: scale(1.05);
                            }
                        }
                    }


                    .thumb {
                        aspect-ratio: 1.6;
                        width: 100%;
                        border-radius: 0.5rem;
                       
                        overflow: hidden;

                        div {
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            width: 100%;
                            transition: .2s;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .info {
                        padding: 1.5rem 0;
                        display: flex;
                        gap: 0.5rem;

                        flex-direction: column;
                        justify-content: center;
                        border-radius: 0 0 0.5rem 0.5rem;
                        bottom: 0;
                        width: 100%;

                        p {
                            margin: 0;
                            
                            color: rgb(8, 8, 8);
                            font-size: 2rem;

                            span {
                                text-transform: capitalize;
                                margin: 0 0.25rem 0 0;
                                font-weight: 400;
                                color: rgb(84, 84, 84);
                            }
                        }

                        .title {
                            color: black;
                            font-weight: 600;
                        }

                        .game {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            color: rgba(255, 255, 255, 0.5);
                            font-weight: 500;
                            font-size: 0.85rem;



                            .news-date {
                                display: none;
                            }

                            div {
                                display: flex;
                                align-items: center;
                                gap: 0.4rem;

                                span {
                                    display: none;
                                }
                            }

                            img {
                                width: 1.5rem;
                                height: 1.5rem;
                                object-fit: cover;
                                border-radius: 0.2rem;
                            }
                        }
                    }
                }

            }
        }

        .heading {
            margin: 0 0 2rem 0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 1.5rem;

            h1 {
                color: black;
                margin: 0 0 0 0;
                font-size: 2rem;
                font-weight: 700;

            }

            .filters {
                display: none;
                gap: 0.5rem;
                align-items: center;
                border-radius: 10rem;
                justify-content: space-between;


                div {
                    display: flex;
                    gap: 0.5rem;

                }

                button {
                    border: none;
                    border-radius: 10rem;
                    background-color: rgb(196, 196, 196);
                    border: 1px solid rgba(0, 0, 0, 0);

                    color: rgb(48, 48, 48);
                    font-weight: 600;
                    padding: 0 1rem;
                    font-size: 1rem;
                    height: 2.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    position: relative;

                    &:hover {

                        color: black;
                        border-color: rgba(0, 0, 0, 0.2);

                        &::before {
                            opacity: 1;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: calc(100% + 0.2rem);
                        height: calc(100% + 0.2rem);
                        border: 2px solid rgb(94, 84, 53);
                        border-radius: 10rem;
                        opacity: 0;
                    }

                    &.active {
                        background-color: rgb(224, 198, 29);
                        color: black;
                        border-color: rgba(0, 0, 0, 0.2);
                    }

                    svg {
                        width: 1.2rem;
                        height: 1.2rem;

                        path {
                            fill: black;
                        }
                    }

                    img {

                        width: 0.9rem;
                        filter: invert(100%);
                        height: 1rem;
                        opacity: 0.6;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}