.le__footer {
    background-color: var(--footer-bg);

    .footer {
        width: min(85rem, 90%);
        padding: 3rem 0;
        margin: 0 auto;
        text-align: center;
        font-size: 0.85rem;

        .logos {
            margin: 0 0 1.5rem 0;
            img {
                max-width: 6rem;
                filter: var(--footer-logo);
            }
        }

        .links {
            margin: 0 0 0.5rem 0;
            ul {
                display: flex;
                justify-content: center;
                gap: 2rem;

                li {
                    a {
                        font-weight: 600;
                        text-decoration: none;
                        color: var(--footer-primary-text);
                        transition: .2s;

                        &:hover {
                            color: var(--footer-secondary-text);
                        }
                    }
                }
            }
        }

        .copyright {
            p {
                margin: 0;
                color: var(--footer-secondary-text);
            }

        }
    }
}