.le__footer {
    background-color: var(--footer-bg);

    .footer {
        width: min(85rem, 90%);
        padding: 2.5rem 0;
        margin: 0 auto;
       
        font-size: 0.85rem;

        .logos {
         
            img {
                max-width: 5rem;
                filter: var(--footer-logo);
            }
        }

        .links {
            margin: 0 0 1rem 0;
       
            display: flex;
            justify-content: space-between;
            align-items: center;
          

            ul {
                display: flex;
                justify-content: center;
                gap: 2rem;

                &:nth-child(2) {
                    gap: 1.25rem;
                }

                li {
                    a {
                        font-weight: 600;
                        text-decoration: none;
                        color: var(--footer-primary-text);
                        transition: .2s;

                        svg {
                            width: 1.25rem;
                            height: 1.25rem;
                            object-fit: cover;

                            path {
                                fill: var(--footer-primary-text);
                            }
                        }

                        &:hover {
                            color: var(--footer-secondary-text);
                        }
                    }
                }
            }
        }

        .copyright {
            margin: 0 0 1.5rem 0;
            p {
                margin: 0;
                color: var(--footer-secondary-text);
            }

        }
    }
}