.le__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 4rem;
    padding: 0 2rem;
    background-color: rgb(14, 14, 14);
    z-index: 100;

    @include media_md {
        padding: 0 1rem;
    }

    .logo {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        .mobile-open {
            display: none;

            @include media_md {
                display: flex;
            }

            button {

                background-color: transparent;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                position: relative;

                &:hover {
                    svg {
                        opacity: 1;
                    }

                    &::before {
                        opacity: 1;
                    }
                }
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
                transition: .1s;
                opacity: 0.5;

                path {
                    fill: white;
                }
            }

        }

        a {
            display: flex;
            align-items: center;
        }

        img {
            width: 5rem;
            filter: invert(0%);
        }
    }

    .nav {
        width: fit-content;

        @include media_md {
            position: fixed;
            width: 18rem;
            height: 100dvh;
            top: 0;
            left: 0;
            z-index: 10;
            opacity: 0;
            pointer-events: none;
        }

        &.active {
            @include media_md {
                opacity: 1;
                pointer-events: all;
            }

            &::before {
                @include media_md {
                    opacity: 0.7;
                }
            }
        }

        &::before {
            content: '';
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: black;
            opacity: 0;
            pointer-events: none;
        }

        .list {
            display: flex;
            gap: 3rem;

            .mobile-logo {
                display: none;
                align-items: center;
                justify-content: space-between;
                height: 4rem;
                padding: 0 1.5rem;
                background-color: rgba(0, 0, 0, 0.25);

                @include media_md {
                    display: flex;
                }

                span {
                    display: flex;
                    align-items: center;
                    height: 4rem;

                    img {
                        width: 5rem;
                    }
                }

                button {
                    width: 2.25rem;
                    height: 2.25rem;
                    background-color: rgb(45, 45, 45);
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: calc(100% + 0.2rem);
                        height: calc(100% + 0.2rem);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 100%;
                        opacity: 0;
                        transition: .1s;
                    }

                    &:hover {
                        svg {
                            opacity: 1;
                        }

                        &::before {
                            opacity: 1;
                        }
                    }
                }

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    transition: .1s;
                    opacity: 0.5;

                    path {
                        fill: white;
                    }

                }
            }

            @include media_md {
                width: 100%;
                flex-direction: column;
                height: 100dvh;
                background-color: var(--container);
                gap: 0;
                z-index: 2;
                position: relative;
                max-height: 100dvh;
                overflow-y: auto;
            }

            li {
                .games {
                    position: fixed;
                    top: 4rem;
                    width: 100%;
                    left: 0;
                    border-top: 1px solid rgb(33, 33, 33);
                    opacity: 0;
                    transition: .4s;
                    pointer-events: none;

                    @include media_md {
                        opacity: 1;
                        pointer-events: all;
                        position: relative;
                        top: 0;
                        display: none;
                    }

                    &.active {
                        opacity: 1;
                        pointer-events: all;

                        @include media_md {
                            display: block;
                        }

                        .wrapper {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

                        }

                        ul {
                            li {
                                a {
                                    animation: y-animation;

                                    @include media_md {
                                        animation: x-animation;
                                    }
                                }
                            }
                        }
                    }

                    .wrapper {
                        padding: 0;
                        background-color: rgb(14, 14, 14);
                        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                        transition: .5s;
                        overflow: hidden;

                        @include media_md {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                    }

                    &::before {
                        content: '';
                        position: fixed;
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: calc(100% - 4rem);
                        background-color: rgb(14, 14, 14);
                        z-index: -1;
                        opacity: 0.8;

                        @include media_md {
                            display: none;
                        }
                    }

                    .filters {
                        width: min(85rem, 90%);
                        margin: 0 auto;
                        padding: 2.5rem 0 0rem 0;
                        gap: 0.5rem;
                        display: flex;

                        @include media_md {
                            display: none;
                        }

                        button {
                            background-color: transparent;
                            border: none;
                            color: gray;
                            padding: 0.35rem 0.75rem;
                            border-radius: 10rem;
                            border: 2px solid rgb(48, 50, 53);
                            font-size: 0.825rem;
                            font-weight: 600;
                            transition: .1s;

                            &:hover {
                             
                                color: white;
                            }

                            &.active {
                                background-color: rgb(48, 50, 53);
                                color: white;
                            }
                        }
                    }

                    @keyframes y-animation {
                        0% {
                            transform: translateY(-3rem);
                        }

                        100% {
                            transform: translateY(0);
                        }
                    }

                    @keyframes x-animation {
                        0% {
                            transform: translateX(-3rem);
                        }

                        100% {
                            transform: translateX(0);
                        }
                    }

                    ul {
                        width: min(85rem, 90%);
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1.5rem;
                        padding: 1.5rem 0 2.5rem 0;

                        @include media_md {
                            padding: 0;
                            gap: 0;
                            width: 100%;
                        }

                        li {
                            @include media_md {
                                width: 100%;
                                border-bottom: 1px solid rgba(128, 128, 128, 0.1);
                            }

                            &:nth-child(1) {
                                a {
                                    animation-duration: .2s;
                                }
                            }

                            &:nth-child(2) {
                                a {
                                    animation-duration: .4s;
                                }
                            }

                            &:nth-child(3) {
                                a {
                                    animation-duration: .6s;
                                }
                            }

                            &:nth-child(4) {
                                a {
                                    animation-duration: .8s;
                                }
                            }


                            &:nth-child(5) {
                                a {
                                    animation-duration: 1s;
                                }
                            }

                            &:nth-child(6) {
                                a {
                                    animation-duration: 1.2s;
                                }
                            }

                            &:nth-child(7) {
                                a {
                                    animation-duration: 1.4s;
                                }
                            }

                            &:nth-child(8) {
                                a {
                                    animation-duration: 1.6s;
                                }
                            }

                            a {
                                display: flex;
                                gap: 0;
                                flex-direction: column;
                                align-items: center;
                                border-radius: 0.5rem;
                                width: 100%;
                                border: 1px solid rgb(33, 35, 37);
                                background-color: rgb(26, 28, 30);
                                transition: .2s;

                                @include media_md {
                                    flex-direction: row;
                                    gap: 0;
                                    border: none;
                                    background-color: transparent;
                                    padding: 1rem 1.5rem;
                                    height: auto;
                                }

                                &:hover {
                                    background-color: rgb(33, 35, 37);
                                }

                                .icon {
                                    width: 10rem;
                                    aspect-ratio: 1;
                                    background-color: gray;
                                    border-radius: 0.5rem 0.5rem 0 0;
                                    overflow: hidden;

                                    @include media_md {
                                        width: 3rem;
                                        height: 3rem;
                                        border-radius: 0.5rem;
                                    }

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    gap: 0.5rem;

                                    padding: 1rem;
                                    align-items: flex-start;

                                    @include media_md {
                                        width: calc(100% - 4rem);
                                        padding: 0;
                                    }


                                    .name {
                                        font-size: 1rem;
                                        color: white;
                                        max-width: 100%;
                                        white-space: nowrap;
                                        overflow: hidden;

                                        text-overflow: ellipsis;
                                    }

                                    .tags {
                                        display: flex;

                                        .type {
                                            span {
                                                font-size: 0.65rem;
                                            }
                                        }
                                    }

                                    .devices {
                                        align-items: center;
                                        display: flex;
                                        gap: 0.35rem;

                                        img {
                                            opacity: 0.5;
                                            width: 0.75rem;
                                            height: 0.75rem;
                                            object-fit: contain;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: rgb(150, 150, 150);
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: .1s;

                    @include media_md {
                        height: 3.5rem;
                        padding: 0 1.5rem;
                        justify-content: space-between;
                    }

                    &.active {
                        color: white;

                        svg {
                            transform: rotatex(180deg);
                        }
                    }

                    &:hover {
                        color: white;
                    }

                    svg {
                        width: 1rem;
                        height: 1rem;
                        opacity: 0.5;
                        transition: .3s;

                        path {
                            fill: white;
                        }
                    }
                }
            }
        }
    }

    .user {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        @include media_md {
            gap: 0.5rem;
        }

        .lang {
            .holder {
                display: flex;
                align-items: center;

                button {
                    width: 2.25rem;
                    height: 2.25rem;
                    background-color: rgb(45, 45, 45);
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: calc(100% + 0.2rem);
                        height: calc(100% + 0.2rem);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 100%;
                        opacity: 0;
                        transition: .1s;
                    }

                    &:hover {
                        svg {
                            opacity: 1;
                        }

                        &::before {
                            opacity: 1;
                        }
                    }
                }

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    transition: .1s;
                    opacity: 0.5;

                    path {
                        fill: white;
                    }
                }
            }
        }

        .account {
            .holder {
                button {
                    background-color: var(--btn-color);
                    color: var(--btn-font-color);
                    border-radius: 5rem;
                    padding: 0 1.1250rem;
                    height: 2.25rem;
                    display: flex;
                    font-weight: 600;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    position: relative;

                    @include media_md {
                        padding: 0;
                        width: 2.25rem;
                    }

                    svg {
                        display: none;
                        width: 1.25rem;
                        height: 1.25rem;

                        path {
                            fill: var(--btn-font-color);
                        }

                        @include media_md {
                            display: flex;
                        }
                    }

                    span {
                        @include media_md {
                            display: none;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: calc(100% + 0.2rem);
                        height: calc(100% + 0.2rem);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 10rem;
                        opacity: 0;
                        transition: .1s;
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}