@font-face {
    font-family: 'Saira ExtraCondensed';
    src: url('SairaExtraCondensed-SemiBold.woff2') format('woff2'),
        url('SairaExtraCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira ExtraCondensed';
    src: url('SairaExtraCondensed-Black.woff2') format('woff2'),
        url('SairaExtraCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

